/* Link to font for the Harry Potter and Angel Wish fallback */
@font-face {
    font-family: harryPotter;
    src: url(../fonts/HARRYP_.TTF);
}

@font-face {
    font-family: angelWish;
    src: url(../fonts/Angel\ wish.ttf);
    src: url(../fonts/Angel\ wish.otf);
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* The instructions modal Code from
W3 schools https://www.w3schools.com/howto/howto_css_modals.asp */
#instructions {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Coppery Orange */
    background-color: rgba(126, 63, 49, .95); 
}

#howToPlay {
    /* Desert Temple */
    background-color: rgba(221, 207, 153, .6);
    margin: 15% auto;
    padding: 20px;
    /* Coppery Orange */
    border: 1px solid #7e3f31;
    width: 80%;
    text-align: center;
}

.close {
    /* Coppery Orange */
    color: #7e3f31;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.open-button {
    /* Coppery Orange */
    background-color: rgba(126, 63, 49, .6);
    font-family: harryPotter, angelWish, serif;
    font-size: 25px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    display: block;
    position: relative;
}

.open-button:hover,
.open-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2,
li {
    margin-bottom: 10px;
    padding: 5px;
    line-height: 1.3;
    font-size: 20px;
}

/* General */
body {
    background: url(../images/marauders-map.jpg) center center/cover;
    font-family: harryPotter, angelWish, serif;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* The header section */
h1 {
    font-size: 3em;
    padding-right: 20px;
    padding-bottom: 10px;
}

#heading {
    font-size: 2.6em;    
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

/* General style for buttons */
.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    min-width: 200px;
    font-family: harryPotter, angelWish, serif;
    font-size: 28px;
    border-radius: 10px;
    /* Desert Temple */
    background-color: rgba(221, 207, 153, .6);
    margin: 5px 0;
    padding: 5px;
    width: 90%;
    cursor: pointer;
}

.btn[disabled] {
    cursor: initial;
}

/* Levels section */
#levels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    /* Coppery Orange */
    background-color: rgba(126, 63, 49, .8);
    border-radius: 5%;
    text-align: center;
    margin-bottom: 10%;
}

#years {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#years p {
    margin-top: 5%;
    font-size: 40px;
    padding: 5px;
}

/* Questions and Answers section */
#quiz {
    display: none;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 80%;
    margin-left: 10%;
    /* Coppery Orange */
    background-color: rgba(126, 63, 49, .8);
    border-radius: 5%;
    text-align: center;
}

#question {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5%;
    margin: 2%;
    padding: 5px;
    font-size: 25px;
    height: 220px;
    /* color: rgb(255 248 248); */
    letter-spacing: 2px;
}

#next-question {
    visibility: visible;
}

#answers .btn {    
    height: 65px;
}

/* Background colour based on correct or incorrect answer */
.correct {
    /* Primal Green */
    background-color: #14855f;
}

.incorrect {
    /* Endless Possibilities */
    background-color: #e13f3b;
}

/* Scores section */
#scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    font-size: 25px;
    gap: 20px;
    letter-spacing: 2px;
    /* color: white; */
}

/* End game section */
#end-game {
    display: none;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    /* Coppery Orange */
    background-color: rgba(126, 63, 49, .8);
    border-radius: 5%;
    text-align: center;
}

#end-game p {
    margin: 5%;
    padding: 5px;
    font-size: 1.8rem;
}

#next {
    margin-bottom: 18px;
    width: 20%;
    font-size: 1.8rem;
}

/* Media query: mobiles and larger (425px and up) */
@media screen and (min-width: 425px) {
    /* The header section */
    #heading {
        font-size: 2.8rem;
    }

    #header {
        flex-direction: row;
    }

    /* Levels section */
    #levels {
        width: 70%;
        margin-left: 15%;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* The header section */
    #header {
        margin: 30px;
    }

    h1, 
    #heading {
        font-size: 5em;
    }

    /* Instructions modal */
    #howToPlay {
        width: 60%;
    }

    h2,
    li {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 15px;
        font-size: 2rem;
    }

    /* Levels section */
    #levels{
        width: 55%;
        margin: 0 auto;
    }

    .year-selector-button {
        margin: 10px;
        font-size: 2.5rem;
        height: 60px;
        width: 300px;
    }

    #years p {
        margin: 10px 0;
    }

    /* Question and answers sections */
    #quiz {
        width: 60%;
        margin: 0 auto;
    }

    #question {
        font-size: 1.5rem;
        margin: 10px;
        height: 80px;
    }

    #answers .btn {
        width: 60%;
        height: 55px;
    }

    /* Scores section */
    #scores {        
        margin-bottom: 15px;
    }

    #scores p {
        font-size: 1.7rem;
    }

    /* End game section */
    #end-game {        
        width: 50%;
    }

    #end-game p {
        margin: 3%;
        letter-spacing: 1px;
        font-size: 2.2rem;       
    }

    #next {
        margin-bottom: 22px;
        font-size: 2.2rem;
        letter-spacing: 1px;
    }
}

/* Media query: laptops and larger (1200px and up) */
@media screen and (min-width: 1200px) {
    /* The header section */
    h1,
    #heading {
        font-size: 8rem;
        padding: 2rem;
    }

    #header {
        margin: 30px;
    }

    /* Instructions modal */
    h2,
    li {
        margin-bottom: 20px;
        font-size: 3rem;
    }

    .close,
    .open-button {
        font-size: 40px;
    }

    /* Levels section */
    .year-selector-button {
        height: 80px;
        width: 400px;
        padding: 12px 6px;
        margin: 1rem;
        font-size: 3.5rem;
    }

    #levels {
        width: 50%;
        margin: 0 auto;
    }
    #years p {
        font-size: 3.5rem;
        margin-top: 10px;
    }

    /* Questions and Answers section */ 
    #question {
        font-size: 2.2rem;
        height: 120px;
    }

    #answers .btn {
        font-size: 2.2rem;
        letter-spacing: 2px;
        width: 460px;
        height: 65px;
    }

    #next-question {
        font-size: 2.2rem;
        padding: 7px;
        height: 55px;        
    }

    /* Scores section */
    #scores p {
        font-size: 2.2rem;
    }

    /* End Game section */
    #end-game p {
        font-size: 3.5rem;
    }

    #next {
        width: 40%;
        height: 70px;
        font-size: 3rem;
    }
}

/* Media query: desktops and 4k (2500px and up) */
@media screen and (min-width: 2500px) {
    /* The header section */
    h1,
    #heading {
        font-size: 15rem;
        padding: 4rem;
    }

    /* Instructions modal */
    h2,
    li {
        margin-bottom: 30px;
        font-size: 5rem;
    }

    .close,
    .open-button {
        font-size: 70px;
        margin-right: 10px;
    }

    /* Levels section */
    .year-selector-button {
        margin: 10px;
        padding: 20px 8px;
        font-size: 7rem;
        height: 130px;
        width: 750px;
    }
    
    #years p {
        margin-top: 2%;
        font-size: 7rem;
    }

    /* Question and answers sections */
    #question {
        font-size: 4.5rem;
        height: 240px;
        margin: 15px;
        padding: 10px;
    }   

    #answers .btn {
        height: 110px;        
        width: 950px;
        font-size: 5rem;
        margin: 15px 0;
    }

    #next-question  {
        height: 90px;
        width: 450px;
        font-size: 4.5rem;
        padding: 10px;
        margin: 10px 0;
    }

    /* Scores section */
    #scores p {
        font-size: 4rem;
    }

    /* End game section */  
    #end-game {        
        width: 55%;
    }

    #end-game p{
        font-size: 7rem;
        letter-spacing: 2px;
    }

    #next {
        height: 150px;
        margin-bottom: 5%;
        font-size: 7rem;
        letter-spacing: 5px;
    }
}

/* Media query: 5k (5000px and up) */
@media screen and (min-width: 5000px) {
    /* The header section */
    h1,
    #heading {
        font-size: 25em;
    }

    /* Instructions modal */
    #howToPlay {
        width: 45%;
    }

    h2,
    li {
        margin-bottom: 40px;
        font-size: 7rem;
    }
    
    .close,
    .open-button {
        font-size: 90px;
    }

    /* Levels section */
    #levels {
        width: 45%;
        margin: 0 auto;
    } 

    .year-selector-button {
        width: 1000px;
        font-size: 10rem;
        height: 210px;
        margin: 25px;
        padding: 20px 12px;
    }

    #years p {
        font-size: 10rem;
        margin-bottom: 20px;
        letter-spacing: 3px;
    }

    /* Question and answers section */
    #question {
        font-size: 8rem;
        height: 480px;
        margin: 20px;
        padding: 12px;
    }

    #next-question {
        font-size: 9rem;
        height: 200px;
        width: 700px;
    }

    #answers .btn {
        height: 220px;
        width: 1800px;
        margin: 40px;
        font-size: 10rem;
    }

    /* Scores section */
    #scores {
        gap: 70px;
        margin-top: 40px;
    }

    #scores p {
        font-size: 8rem;
        margin-bottom: 20px;
    }

    /* End game section */
    #end-game p {
        font-size: 10rem;
        letter-spacing: 3px;
    }

    #next {
        font-size: 10rem;
        height: 200px;
    }
}